<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="css/common.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body ng-app="myApp" ng-controller="myCtrl">
  <div class="container">


    <div class="row form-group">
	    <div class="col-xs-4">
	    	<label for="">Date</label>
		    <input readonly=readonly/ type="text" class="form-control">
	    </div>
	    
	    <div class="col-xs-4">
		    <label for="">Voucher Number</label>
		    <input class="form-control" type="text">
	    </div>

	    <div class="col-xs-4">
	    	<label for="">Invoice Number</label>
	    	<input type="text" readonly=readonly class="form-control">
	  	</div>
  	</div>

    <div class="row form-group">
	    <div class="col-xs-4">
	    	<label for="">Supplier</label>
	      <select name="supplierId" ng-model="selSupplier" ng-change="getSupplierById()" class="form-control">
	    		<option value="0">Select</option>
	    		<option value="50408">KUNNATHAN CHIP BOARDS PVT .LTD</option>
	    	</select>
	  	</div>

      <div class="col-xs-4">
	      <label for="">Address</label>
	      <div class="form-control">{{supplierData.supplierStreet }}</div>
      </div>

			<div class="col-xs-4">
				<label for="">Supplier City</label>
	      <div class="form-control">{{supplierData.supplierCity}}</div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-xs-4">
	      <label for="">State</label>
        <select ng-model="supplierData.supplierState" ng-init="0" class="form-control">
    		<option value="0">Select</option>
    		<option value="32">Kerala - 32</option>
    	</select>
      </div>

      <div class="col-xs-4">
      	<label for="">Supplier Pincode</label>
	      <div class="form-control">{{supplierData.supplierPincode}}</div>
      </div>

      <div class="col-xs-4">
      	<label for="">GSTIN</label>
	      <div class="form-control">{{supplierData.supplierTin}}</div>
      </div>
    </div>

		<div class="row form-group">
      <div class="col-xs-4">
      	<label for="">Interstate</label>
	      <div class="form-control">{{supplierData.supplierIS}}</div>
      </div>
    </div>



    <div>
      <table class="table">
        <tr>
          <th>SI</th>
          <th>code</th>
          <th>name</th>
          <th>unit</th>
          <th>price level</th>
          <th>Qty</th>
          <th>amount</th>
          <th>CGST</th>
          <th>amount</th>
          <th>SGST</th>
          <th>amount</th>
          <th>IGST</th>
          <th>amount</th>
          <th>Total</th>
          <th></th>
        </tr>

        <tr ng-repeat="x in prodData">
          <td>{{$index+1}}</td>
          <td>{{ x.productCode }}</td>
          <td>{{ x.productName }}</td>
          <td>
            <select ng-model="x.unitData" ng-change="calculateTotal(x)" class="form-control">
							<option value="5">Pc(s)</option>
							<option value="6">Sq.feet</option>
							<option value="7">SQ.MTR</option>
					</select>
          </td>
          <td>
            <select ng-model="x.prodprice" ng-init="x.prodprice" ng-change="calculateTotal(x)" class="form-control">
							<option value="0">Select</option>
							<option ng-repeat="pl in x.priceList" value="{{pl.priceAmount}}">{{pl.priceName}}</option>
					</select>
          </td>
          <td><input ng-model="x.qty" ng-change="calculateTotal(x)" style="width: 36px" class="form-control"></td>
          <td><input readonly=readonly style="width: 65px" value="{{x.amount | currency:'': 2}}" class="form-control"></td>
          <td>{{x.cgstp + '%'}}</td>
          <td><input value="{{x.cgstv | currency:'': 2}}" readonly=readonly style="width: 65px" class="form-control"></td>
          <td>{{x.sgstp+ '%'}}</td>
          <td><input value="{{x.sgstv | currency:'': 2}}" readonly=readonly style="width: 65px" class="form-control"></td>
          <td>{{x.igstp + '%'}}</td>
          <td><input value="{{x.igstv | currency:'': 2}}" readonly=readonly style="width: 65px" class="form-control"></td>
          <td><input ng-default="0.00" readonly=readonly style="width: 65px;text-align:right;" value="{{x.total | currency:'': 2}}"></td>
          <input ng-model="x.cgstp" type="hidden">
          <input ng-model="x.sgstp" type="hidden">
          <input ng-model="x.igstp" type="hidden">
          <input ng-model="x.cgstd" type="hidden">
          <input ng-model="x.sgstd" type="hidden">
          <input ng-model="x.igstd" type="hidden">
          <td><input type="button" value="Remove" ng-click="removeProduct($index)" class="btn btn-danger"></td>
        </tr>
        <tr>
          <td></td>
          <td><input ng-model="searchCode" ng-keyup="searchEvent($event)" ng-paste="onPasteEvent($event)" class="form-control"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="14" style="text-align:right;">Total</td>
          <td><input value="{{prodtotal | currency:'': 2}}" ng-default="0" readonly=readonly style="width: 65px;text-align:right;" class="form-control"></td>
        </tr>
      </table>
    </div>

  <div>
    <h4>Freight Details</h4>
    <div class="row form-group">
      <div class="col-xs-4">
      	<label for="">Mode</label>
        <select class="form-control">
					<option value="R">Rented Vehicle</option>
					<option value="O">Own Vehicle</option>
				</select>
      </div>
      <div class="col-xs-4">
      	<label for="">Vehicle No</label>
				<input type="text" value=""/ class="form-control">
      </div>
      <div class="col-xs-4">
      	<label for="">Vehicle Details</label>
				<input type="text" value=""/ class="form-control">
      </div>
		</div>
		<div class="row form-group">
      <div class="col-xs-4">
      	<label for="">Rent Amount</label>
				<input type="number" ng-model="freightAmount" ng-change="calculateGrantTotal()" class="form-control"/>
      </div>
    </div>
	</div>

	<div>
		<div class="row form-group">
			<div class="col-xs-4">
				<label for="">Running Balance</label>
				<input type="number" readonly=readonly class="form-control">
			</div>
		</div>
	</div>
	
	<div>
		<div class="row form-group">
			<div class="col-xs-4">
				<label for="">Handling Charges</label>
				<input type="text" class="form-control">
			</div>
			<div class="col-xs-4">
				<label for="">Amount</label>
				<input type="number" class="form-control" ng-model="handleAmount" ng-change="calculateGrantTotal()">
			</div>
		</div>
	</div>
			
			
	
	<div>
		<div class="row form-group">
			<div class="col-xs-4">
				<label for="">Total CGST</label>
				<input readonly=readonly value="{{prodcgsttotal | currency:'': 2}}" class="form-control">
			</div>
			<div class="col-xs-4">
				<label for="">Total SGST</label>
				<input readonly=readonly value="{{prodsgsttotal | currency:'': 2}}" class="form-control">
			</div>
			<div class="col-xs-4">
				<label for="">Total IGST</label>
				<input readonly=readonly value="{{prodigsttotal | currency:'': 2}}" class="form-control">
			</div>
		</div>
	</div>
	
	<div>
		<div class="row form-group">
			<div class="col-xs-4">
				<label for="">Total(Inc Freight and Handling)</label>
				<input readonly=readonly value="{{totalincft | currency:'': 2}}" class="form-control">`
			</div>
			<div class="col-xs-4">
				<label for="">Discount</label>
				<input type="number" ng-model="discountp" ng-keyup="discountGrandTotal()"  class="form-control">
				<input type="number" ng-model="discounta" class="form-control" ng-change="calculateGrantTotal()">
			</div>
			<div class="col-xs-4">
				<label for="">Grand Total</label>
				<input readonly=readonly value="{{grantTotal | currency:'': 2}}" class="form-control">
			</div>
		</div>
	</div>
    </div>

</body>

<script>
var mcgst=6;
var msgst=7;
var migst=8;
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope,$http) {
$scope.prodData = [];
$scope.searchCode = "";
$scope.prodtotal = 0;
$scope.prodsgsttotal=0;
$scope.prodcgsttotal=0;
$scope.prodigsttotal=0;

$scope.handleAmount=0;
$scope.freightAmount=0;

$scope.totalincft=0;
$scope.discountp=0;
$scope.discounta=0;
$scope.grantTotal=0;

	$scope.searchEvent = function(event){
		if($scope.supplierData!=null){
			if($scope.searchCode.length==0 && event.which === 13){
				alert("Enter Product code");
			}else{
				if($scope.searchCode.length>=5 && event.which === 13){
					$scope.getProductBycode();
				}
			}
		}else{
			alert("Choose supplier before adding product");
		}
	}
	
	$scope.onPasteEvent = function(event){
		if($scope.supplierData!=null){
		    $scope.searchCode = event.clipboardData.getData('text/plain');
		    $scope.getProductBycode();
		}else{
			alert("Choose supplier before adding product");
		}
		
	}

	$scope.removeProduct = function(index){
		$scope.prodData.splice(index,1);
		$scope.prodtotal = 0;
		if($scope.prodData.length==0){
			$scope.handleAmount=0;
			$scope.freightAmount=0;
			$scope.discountp=0;
			$scope.discounta=0;
		}
		$scope.calculateGrantTotal();
	}		
	
	
	$scope.calculateTotal = function(x){
		var prodPriceTemp = x.prodprice;
		if(x.unitData != x.productBaseUnit){
			angular.forEach(x.unitList, function(value, key){
			  //console.log("Unitname "+value.unitName+" -- UnitId"+value.unitId);
			  if(x.unitData==value.unitId){
				  //console.log(value.unitName+ ': ' + value.unitValue);
				  prodPriceTemp = x.prodprice/value.unitValue;
				  //console.log("1 "+ value.unitName +" = "+ prodPriceTemp +"Rs");
			  }
			});
		}
		x.amount = prodPriceTemp*x.qty;
		x.cgstv = ((x.cgstp/100)*(prodPriceTemp*x.qty));
		x.sgstv = ((x.sgstp/100)*(prodPriceTemp*x.qty));
		x.igstv = ((x.igstp/100)*(prodPriceTemp*x.qty));
		x.total = x.amount + x.cgstv + x.sgstv +x.igstv;
		
		$scope.calculateGrantTotal();
		
	}
	
	
	$scope.discountGrandTotal = function(){
		 $scope.discounta = ($scope.discountp/100)*$scope.totalincft;
		 $scope.grantTotal=$scope.totalincft-$scope.discounta;
	}
	$scope.calculateGrantTotal = function(){
		$scope.prodtotal = 0;
		$scope.prodsgsttotal=0;
		$scope.prodcgsttotal=0;
		$scope.prodigsttotal=0;		
		angular.forEach($scope.prodData, function(value, key){
			 $scope.prodtotal = $scope.prodtotal + value.total;
			 $scope.prodsgsttotal = $scope.prodsgsttotal + value.sgstv;
			 $scope.prodcgsttotal = $scope.prodcgsttotal + value.cgstv;
			 $scope.prodigsttotal = $scope.prodigsttotal + value.igstv;
		});
		
		$scope.totalincft= $scope.prodtotal+$scope.freightAmount+$scope.handleAmount;
		$scope.discountp = ($scope.discounta/$scope.totalincft)*100;
				
		$scope.grantTotal=$scope.totalincft-$scope.discounta;

	}
	
	$scope.getProductBycode = function(){
		 $http({
             method: 'GET',
             url: 'https://api.myjson.com/bins/143npz',
				//url: 'http://localhost:8080/npadmin/home/product/service/getcode/S/'+$scope.searchCode,
         }).then(function successCallback(response) {
         	if(response.data.length==1){
         		$scope.loadData(response.data[0]);
         		$scope.searchCode ="";
         	}else if(response.data.length==0){
         		alert("Product not found");
         	}else{
         		alert("Select required product from drop down");
         		//call $scope.loadData(response.data[0]); with correct data as parameter
         	}	               
            	
		  }, function errorCallback(response) {
				alert("Error in Fetching Data from server");
		  });
	}
	
	$scope.loadData = function(response){
		 response.qty=1;
		 response.total=0.00;
		 response.amount=0.00;
		 response.prodprice='0';
		 response.unitData=response.unitSales+'';
		 
		 response.sgstp=0;
		 response.sgstd=0;
		 response.sgstv=0;
		 
		 response.cgstp=0;
		 response.cgstd=0;
		 response.cgstv=0;
		  
		 response.igstp=0;
		 response.igstd=0;
		 response.igstv=0;
		 
		 //alert(response.priceList[0].priceAmount);
		 if(response.priceList.length>=1){
		 response.prodprice=response.priceList[0].priceAmount;
		 }
		 

		
		 angular.forEach(response.taxList, function(value, key){
		     //console.log(value.taxPercent+ ': ' + value.taxId);
		     
			 if($scope.supplierData.supplierIS=='N'){
				 if(value.taxId==mcgst){
			    	 response.cgstp=value.taxPercent;
					 response.cgstd=value.productTaxId;
			     }else if(value.taxId==msgst){
			    	 response.sgstp=value.taxPercent;
					 response.sgstd=value.productTaxId;
			     }
		     }else{
		    	 if(value.taxId==migst){
		    		 response.igstp=value.taxPercent;
					 response.igstd=value.productTaxId;
			     } 
		     }
		});
		 
		 $scope.prodData.push(response);
		 $scope.calculateTotal(response);
	}

	$scope.selSupplier = '0';
	$scope.supplierData = null;
	$scope.getSupplierById = function(){
		$http({
            method: 'GET',
            url: 'https://api.myjson.com/bins/ueqrj',
				//url: 'http://localhost:8080/npadmin/home/supplier/service/getbyid/'+$scope.selSupplier,
        }).then(function successCallback(response) {
        	if(response.data.supplierId!='0'){
        		$scope.supplierData = response.data;
        	}else{
        		$scope.supplierData = null;
        	}
        	
		  }, function errorCallback(response) {
			  $scope.supplierData = null;
				alert("Error in Fetching Data from server");
		  });
	}
	
});

</script>

</html>